html {
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

body {
  height: 100%;
  font-size: 1.2em;
  line-height: 1.5;
  font-family: "Cantarell", "Noto Sans", sans-serif;
  max-width: 42em;
  margin: 1em auto;
  padding: 0;
  color: #000000;
  background: #f9f9f9;
  text-align: left;
}

main {
  padding: 0 .65em;
  padding-bottom: 32%;
}

pre, code, kbd, samp {
  background-color: #eee;
  font-size: 0.95em;
  overflow: hidden;
  border-radius: 0.2em;
}

code {
  padding: 2px 4px;
}

pre code {
  padding: 0.6em;
  width: 100%;
  height: auto;
  overflow: auto;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: 2.2em;
}

li  {
  margin: 0.6em 0;
}

li > p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #BA55D3;
}

a:hover, a:visited:hover {
  color: #c9f;
}

hr {
  height: 1px;
  background-color: #000;
  border: none;
}

hr.distanced {
  margin-bottom: 1em;
  margin-top: 1em;
}

header {
  margin-top: 3em;
}

footer {
  font-size: .95em;
  line-height: .9em;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6em;
  width: 100%;
  overflow: hidden;
}

footer > p {
  display: flex;
  align-items: center;
  justify-content: center;
}

span.distanced {
  margin-left: .32em;
  margin-right: .32em;
}

.note, .pubinfo {
  border: solid 2px #000;
  border-radius: 0.2em;
  padding: 0.6em 1.2em;
}

.note {
  margin: 1.4em 2em;
}

.note p {
  margin: 0.5em auto;
}

.pubinfo {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-top: 1.2em;
  margin-bottom: 3em;
  width: 100%;
}

.pubdate {
  margin-right: 1.5em;
}

.dash {
  display: inline-block;
  width: 1.2em;
  text-align: center;
}

.title {
  font-size: 2.15em;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1em;
  margin: 0 1.32em;
  white-space: nowrap;
}

.subtitle:before {
  content: "↪";
  margin-right: 0.32em;
  font-size: 1.2em;
}

.secondary {
  color: #808080;
  font-size: .95em;
  display: inline;
}

.secondary a {
  color: inherit;
}

.secondary img {
  /* same as secondary */
  filter: invert(54%) sepia(85%) saturate(0%) hue-rotate(214deg) brightness(79%) contrast(105%);
}

.flex-align {
  display: inline-flex;
  align-items: center;
}

a.footnote-ref:before {
  content: "[";
}

a.footnote-ref:after {
  content: "]";
}

.breadcrumb ol {
  padding-left: 0;
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.breadcrumb li {
  display: inline;
  white-space: nowrap;
  word-break: break-word;
}

.breadcrumb .active a {
  /* same as secondary */
  font-size: .95em;
  color: #000;
}

.hide {
  display: none;
}

.nowrap {
  white-space: nowrap;
  word-break: break-word;
}

.icon {
  vertical-align: middle;
  display: inline-block;
}

.icon-small {
  height: 1.1em;
  width: 1.1em;
  margin: 0 0.12em;
}

.icon-medium {
  height: 1.6em;
  width: 1.6em;
  margin: 0 0.28em;
}

.icon-large {
  height: 3.2em;
  width: 3.2em;
  margin: 0 0.42em;
}

/* FIXME */
.icon:last-child {
  margin-left: 0.5em;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background: #181818;
  }
  hr {
    background-color: #fff;
  }
  pre, code, kbd, samp {
    background-color: #242424;
    color: #fff;
  }
  .note, .pubinfo {
    border: solid 1px #fff;
  }
  a {
    color: #c9f;
  }
  a:hover, a:visited:hover {
    color: #f0f0f0;
  }
  .breadcrumb .active a {
    color: #fff;
  }
  img {
    -webkit-filter: brightness(.90) contrast(1.1);
    filter: brightness(.90) contrast(1.1);
  }
  .icon-invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}

/* tablet */
@media only screen and (max-width: 960px) {
  body {
    max-width: 80%;
  }
  footer {
    height: 4em;
  }
}

/* large mobile */
@media only screen and (max-width: 576px) {
  body {
    max-width: 90%;
  }
  ul, ol {
    padding-left: 2em;
  }
  .note, .pubinfo {
    padding: 0.5em 1em;
  }
  .note {
    margin: 1em 0.5em;
  }
  .pubinfo {
    margin-bottom: 2em;
  }
  li a {
    word-break: break-word;
  }
}

/* mobile */
@media screen and (max-width: 480px) {
  body {
    font: 1.05rem/1.5rem sans-serif;
    max-width: 95%;
  }
  article {
    padding-bottom: 100px;
  }
  footer {
    height: 64px;
  }
  h1, h2, h3, h4 {
    line-height: 2.2rem;
  }
  pre, code, kbd, samp {
    font: 0.85rem/1.25rem monospace;
    border-radius: 4px;
  }
  .note, .pubinfo {
    border-radius: 4px;
  }
  .title {
    font-size: 1.9em;
  }
  .subtitle {
    margin: 0 0.6em;
  }
  .subtitle:before {
    margin-right: 0.24em;
  }
  .dash {
    width: 1.1em;
  }
  span.distanced {
    margin-left: .24em;
    margin-right: .24em;
  }
}

@media print {
  body {
    max-width: none;
  }
  footer {
    visibility: hidden;
  }
}
