html {
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

body {
  height: 100%;
  font-size: 1.2em;
  line-height: 1.5;
  font-family: "Cantarell", "Noto Sans", sans-serif;
  max-width: 32em;
  margin: auto;
  padding-top: 3em;
  color: #000000;
  background: #f9f9f9;
  text-align: left;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: bold;
}

h1 {
  font-size: 2.2em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

.secondary {
  color: #909090;
  font-size: 98%;
}

.hid {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background: #181818;
  }
  header, hr {
    border-bottom-color: #fff;
  }
  pre, code, kbd, samp {
    background-color: #242424;
    color: #fff;
  }
  a:link {
    color: #9cf;
  }
  a:hover, a:visited:hover {
    color: #cef;
  }
  a:visited {
    color: #c9f;
  }
  img {
    filter: brightness(.85) contrast(1.1);
  }
}
