<nav class="breadcrumb subtitle" aria-label="breadcrumbs">
  <ol>
    {{- range .Ancestors.Reverse }}
    <li>
      {{- if not .IsHome -}}<span class="distanced" aria-hidden="true">/</span>{{- end -}}<a class="secondary" href="{{ .RelPermalink }}">
        {{- if .IsHome -}}
          {{- .Site.Title | urlize -}}
        {{- else if .IsSection -}}
          {{- .Section | urlize -}}
        {{- else if eq .Kind "taxonomy" -}}
          {{- .Section | urlize -}}
        {{- else if eq .Kind "term" -}}
          {{- .Title | urlize -}}
        {{- else -}}
          {{- if .Site.Params.title_crumbs -}}
            {{- .Title | urlize -}}
          {{- else -}}
            {{- with .Slug -}}
              {{- . -}}
            {{- else -}}
              {{- with .File -}}
                {{- .BaseFileName | urlize -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </a>
    </li>
    {{- end }}
    <li class="active">
      <span class="distanced" aria-hidden="true">/</span><a href="{{ .RelPermalink }}" aria-current="location">
        {{- if .Site.Params.title_crumbs -}}
          {{- .Title | urlize -}}
        {{- else if .IsSection -}}
          {{- .Section | urlize -}}
        {{- else if eq .Kind "taxonomy" -}}
          {{- .Section | urlize -}}
        {{- else if eq .Kind "term" -}}
          {{- .Title | urlize -}}
        {{- else -}}
          {{- with .Slug -}}
            {{- . -}}
          {{- else -}}
            {{- with .File -}}
              {{- .BaseFileName | urlize -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </a>
    </li>
  </ol>
</nav>
