<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,minimum-scale=1">
<title>{{ with .Params.meta_title }}{{.}}{{else}}{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s @ %s" .Title site.Title }}{{ end }}{{end}}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/index.xml" title="{{ .Site.Title }}">
<link rel="feed" type="application/rss+xml" href="{{.Site.BaseURL }}/index.xml" title="{{ .Site.Title }}">
{{ $public := not .Params.private }}
{{- if $public -}}
  <meta name="robots" content="index, follow">
{{- else -}}
  <meta name="robots" content="noindex, nofollow">
{{- end -}}
{{- with .Params.author | default .Site.Params.author -}}
<meta name="author" content = "{{ .name | plainify }}">
{{- end -}}
<meta name="description" content="{{ .Description | default .Summary | plainify }}">
{{- with .Keywords | default .Params.Tags -}}
<meta name="keywords" content="{{ delimit . ", " | plainify }}">
{{- end -}}
<link rel="canonical" href="{{ with .Params.canonicalUrl }}{{ . }}{{ else }}{{ .Permalink }}{{ end }}">
{{ template "_internal/opengraph.html" . }}
{{ partial "schema.html" . }}
