{{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
{{- $FMT := "Jan 2, 2006" }}
{{- if not .Params.no_pubinfo -}}
  <div class="pubinfo">
    <span class="pubdate">
      {{ with (resources.Get "icons/calendar.svg") -}}
        <img src="{{ .RelPermalink }}" class="icon icon-smaller icon-invert">
      {{- end -}}
      {{- with .Date }}
      <time {{ .Format $ISO8601 | printf "datetime=%q" | safeHTMLAttr }}>{{ .Format $FMT }}</time>
      {{end}}
      {{- if and (ne .Lastmod.Year .Date.Year) (ne .Lastmod.YearDay .Date.YearDay) -}}
        <span class="distanced"></span><span class="secondary nowrap flex-align" title="Last modification">
          ({{with .Lastmod }}<time {{ .Format $ISO8601 | printf "datetime=%q" | safeHTMLAttr }}>{{ .Format $FMT }}</time>){{end}}
        </span>
      {{- end -}}
    </span>

    {{- with .GetTerms "tags" }}
    <span>
      {{ with (resources.Get "icons/tags.svg") -}}
        <img src="{{ .RelPermalink }}" class="icon icon-smaller icon-invert">
      {{- end -}}

      {{- range $i, $e := . -}}
      {{ if $i }}, {{ end }}
      <span class="pubtag"><a href="{{ $e.RelPermalink }}">#{{ $e.LinkTitle | lower }}</a></span>
      {{- end -}}
    </span>
    {{- end }}
  </div>
{{- end -}}
