{{- if not .Params.no_pubinfo -}}
  <div class="pubinfo">
    <span class="pubdate">
      Posted on <time datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>
      {{- if and (ne .Lastmod.Year .Date.Year) (ne .Lastmod.YearDay .Date.YearDay) -}}
        <span class="distanced"></span><span class="secondary nowrap flex-align" title="Last modification">
          (<time datetime="{{ .Lastmod }}">{{ .Lastmod.Format "2006-01-02" }}</time>
          {{ with (resources.Get "icons/pen-to-square.svg") -}}
            <img src="{{ .RelPermalink }}" class="icon icon-small"></img>)
          {{- end -}}
        </span>
      {{- end -}}
    </span>

    <span>
      {{ with (resources.Get "icons/tags.svg") -}}
        <img src="{{ .RelPermalink }}" class="icon icon-small icon-invert"></img>
      {{- end -}}
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </span>
  </div>
{{- end -}}
