{{- if not .Params.no_pubinfo -}}
  <div class="pubinfo">
    <span class="pubdate">
      Posted on <code><time datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time></code>

      {{- if ne .Lastmod .Date -}}
      <span title="Last modification">(
        {{- $image := resources.Get "icons/pen-to-square.svg" -}}
        {{- with $image -}}
        <img src="{{ .RelPermalink }}" class="icon icon-small icon-invert" alt="Edit"></img>
        {{- end -}}
        <code><time datetime="{{ .Lastmod }}">{{ .Lastmod.Format "2006-01-02" }}</time></code>)
      </span>
      {{- end -}}
    </span>

    <span>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </span>
  </div>
{{- end -}}
