{{- with .GetTerms "series" }}
{{- range $series := . }}
  <div class="series">
    <span class="active">Part of the series <em><strong><a href="{{ .Permalink }}">{{ .Title  }}</a></em></strong></span>
    <ol>
      {{ range $num,$post := ($.Site.Taxonomies.series.Get $series.Title).Pages.ByDate }}
      {{ $curr := eq $post.Permalink $.Page.Permalink }}
        <li {{ if $curr }} class="active" {{end}}>
          <a href="{{$post.Permalink}}">{{ $post.Params.title}}</a>
          {{ if $curr -}}
            {{ with (resources.Get "icons/arrow-left.svg") -}}
              <img src="{{ .RelPermalink }}" class="icon icon-smaller icon-invert">
            {{- end -}}
          {{- end }}
        </li>
      {{ end }}
    </ol>
  </div>
{{- end -}}
{{- end -}}
