{{- with .GetTerms "series" }}
{{- range $series := . }}
  <div class="series">
    <span class="active">Part of the series <em><strong><a href="{{ .Permalink }}">{{ .Title  }}</a></em></strong></span>
    <ol>
      {{ range $num,$post := ($.Site.Taxonomies.series.Get $series.Title).Pages.ByDate }}
        <li {{ if eq $post.Permalink $.Page.Permalink }} class="active" {{end}}>
          <a href="{{$post.Permalink}}">{{ $post.Params.title}}</a>
        </li>
      {{ end }}
    </ol>
  </div>
{{- end -}}
{{- end -}}
