{{- if .Params.series -}}
{{- range $series := .Params.series -}}
  <div class="series">
    {{- $lnk := index (where ($.Page.GetTerms "series") "Params.Title" $series) index 0 }}
    <span>Part of <em><a href="{{ $lnk.Permalink }}">{{ . }}</a></em></span>
    <ol>
        {{ range $num,$post := (index $.Site.Taxonomies.series ($series | urlize)).Pages.ByDate }}
            {{ if eq $post.Permalink $.Page.Permalink }}
                <li class="active">
                    Part {{ add $num 1 }}: This Article
                </li>
            {{ else }}
                <li>
                    <a href="{{$post.Permalink}}">
                        Part {{ add $num 1 }}: {{ $post.Params.title}}
                    </a>
                </li>
            {{end}}
        {{end}}
    </ol>
  </div>
{{- end -}}
{{- end -}}
